* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
}

.header .footer {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.sidebar {
    background-color: #121212;
    width: 400px;
    position: absolute;
    top: 60px;
    bottom: 60px;
    border-radius: 1rem;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.content {
    background-color: #121212;
    flex: 1;
    overflow: auto;
    position: absolute;
    left: 405px;
    right: 5px;
    top: 60px;
    bottom: 60px;
    border-radius: 1rem;
}

.sections {
    background-color: #1d1c1c;
    flex: 1;
    overflow: auto;
    right: 5px;
    border-radius: 1rem;
    cursor: pointer;
    width: 70%;
    border-radius: 30px;
    padding: 10px 0;
    transition: 0.3s ease;
    height: 50%;
}

.sections div {
    position: absolute;
    padding-left: 50px;
    padding-top: 5px;
}

.sections div span {
    padding-left: 50px;
    padding-top: 5px;
    text-align: left;
}

.home {
    position: absolute;
    align-items: center;
    top: 15%;
    background-color: #1d1c1c;
    width: 70%;
    height: auto;
    border-radius: 30px;
    transition: 0.3s ease;
    left: 15%;
}

/* #prject {
    position: absolute;
    align-items: center;
    background-color: #1d1c1c;
    width: 70%;
    height: auto;
    border-radius: 30px;
    transition: 0.3s ease;
    left: 15%;
} */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}


label {
    margin-top: 5px;
    margin-bottom: 1px;
    font-weight: bold;
    color: #f9f5f5;
    overflow: auto;
}

input[type="text"],
textarea,
input[type="file"],
input[type="number"] {
    overflow: auto;
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#dateRange {
    display: flex;
    gap: 50px;
}

.sections.active {
    background-color: #1db954;
    color: white;
    border-radius: 5px;
}