<!DOCTYPE html>
<html class="scroll-smooth" xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="./assets/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
    <title>Spotify-web player: music for everyone</title>
</head>

<body>
    <div class="main">
        <div class="header"></div>
        <div class="sidebar">
            <div class="sections">
                <div>
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </div>
            </div>
            <div class="sections">
                <div><i class="fas fa-id-badge"></i>
                    <span>About me</span>
                </div>
            </div>
            <div class="sections">
                <div><i class="fa-solid fa-brain"></i>
                    <span>Skills</span>
                </div>
            </div>
            <div class="sections">
                <div><i class="fas fa-laptop-code"></i>
                    <span>Project</span>
                </div>
            </div>
            <div class="sections">
                <div><i class="fas fa-briefcase"></i>
                    <span>Experience</span>
                </div>
            </div>
            <div class="sections">
                <div><i class="fas fa-graduation-cap"></i>
                    <span>Education</span>
                </div>
            </div>
            <div class="sections">
                <div><i class="fas fa-file-alt"></i>
                    <span>Resume</span>
                </div>
            </div>
            <div class="sections">
                <div><i class="fas fa-address-card"></i>
                    <span>Contact</span>
                </div>
            </div>
        </div>
        <div class="content"></div>
        <div class="footer"></div>
    </div>
</body>

</html>